# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Env / segredos
.env
.env.local
.env.example

# Ferramentas / IDE
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
.DS_Store
